* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.align-content-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.align-content-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container {
  display: flex;
  width: 100%;
  flex-flow: row;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 80rem;
}

